.container{
    width: 80%;
    margin: auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}
.logo{
    font-size: 30px;
    color: orange;
}
.nav-bar{
    padding: 20px;
    margin: 30px;
    font-size: 25px;
    align-items: center;
}
.nav-items{
    color: black;
    padding: 25px;
}
